<div class="flex flex-column gap-2 screen-center" *ngIf="!fileSubmitted">
  <p-fileUpload mode="basic" [auto]="true" chooseLabel="Upload Sales Report File (.csv)" accept=".csv" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onFileUpload($event)"></p-fileUpload>
  <button pButton label="Continue" class="p-button-success" style="width: 100%;" [disabled]="!uploadedFile" (click)="onContinue()"></button>
</div>

<p-progressSpinner *ngIf="processing" class="screen-center"></p-progressSpinner>

<div class="grid analytics-cards" *ngIf="!processing && fileSubmitted">
  <div class="col-3">
    <div class="card flex flex-column gap-3">
      <div class="card-title flex justify-content-between">
        <span>Overview</span>
        <p-selectButton [options]="salesTypeSelectOptions" [(ngModel)]="salesTypeSelected" [allowEmpty]="false"></p-selectButton>
      </div>
      <div class="card flex justify-content-between align-items-center" style="background: var(--green-500);">
        <span class="overview-card-title">
          Total Revenue
        </span>
        <span class="overview-card-value">
          {{totalRevenue | currency}}
        </span>
      </div>
      <div class="card flex justify-content-between align-items-center" style="background: var(--blue-500);">
        <span class="overview-card-title">
          Total Units Sold
        </span>
        <span class="overview-card-value">
          {{totalUnitsSold}}
        </span>
      </div>
      <div class="card flex justify-content-between align-items-center" style="background: var(--red-500);">
        <span class="overview-card-title">
          Total Refunds
        </span>
        <span class="overview-card-value">
          {{totalRefunds}}
        </span>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="card">
      <div class="card-title">
        {{salesTypeDisplay.get(salesTypeSelected)}} by day
      </div>
      <div echarts [options]="salesByDayChartOptions.get(salesTypeSelected)!" style="height: 90%;"></div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-title">
        Total {{salesTypeDisplay.get(salesTypeSelected)?.toLowerCase()}}
      </div>
      <div echarts [options]="salesTotalsChartOptions.get(salesTypeSelected)!"  style="height: 90%;"></div>
    </div>
  </div>
  <div class="col-9">
    <div class="card">
      <div class="card-title">
        Cumulative {{salesTypeDisplay.get(salesTypeSelected)?.toLowerCase()}} by day
      </div>
      <div echarts [options]="cumulativeSalesByDayChartOptions.get(salesTypeSelected)!"  style="height: 90%;"></div>
    </div>
  </div>
</div>
