<div class="flex flex-column gap-2 screen-center" *ngIf="!fileSubmitted">
  <p-fileUpload mode="basic" [auto]="true" chooseLabel="Upload Sales Report File (.csv)" accept=".csv" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onFileUpload($event)"></p-fileUpload>
  <button pButton label="Continue" class="p-button-success" style="width: 100%;" [disabled]="!uploadedFile" (click)="onContinue()"></button>
</div>

<p-progressSpinner *ngIf="processing" class="screen-center"></p-progressSpinner>

<div class="grid analytics-cards" *ngIf="!processing && fileSubmitted">
  <p-card class="col-3">
    <ng-template pTemplate="header">
      <div class="overview-card-title flex justify-content-between">
        <span>Overview</span>
        <p-selectButton [options]="salesTypeSelectOptions" [(ngModel)]="salesTypeSelected"></p-selectButton>
      </div>
    </ng-template>
    <div class="overview-card">
      <p-card subheader="Revenue"[style]="{ background: 'var(--green-500)' }">
        {{totalRevenue}}
      </p-card>
      <p-card subheader="Units sold"  [style]="{ background: 'var(--blue-500)' }">
        {{totalUnitsSold}}
      </p-card>
    </div>
  </p-card>
  <p-card header="Sales by day" class="col-9">
    <div echarts [options]="salesByDayChartOptions.get(salesTypeSelected)!"></div>
  </p-card>
  <p-card header="Total sales" class="col-3">
    <div echarts [options]="salesTotalsChartOptions.get(salesTypeSelected)!"></div>
  </p-card>
  <p-card header="Cumulative sales by day" class="col-9">
    <div echarts [options]="cumulativeSalesByDayChartOptions.get(salesTypeSelected)!"></div>
  </p-card>
</div>
